.curriculums{
    display: grid;
    width: 100vw;
    height: 120vh;
   
    background-color:rgb(54, 54, 54);
    grid-template-rows: 200px ;
    grid-template-columns: 50vw 50vw ;
    justify-items: center;
}

.cvs1{
    margin-top: 40px;
    height: 100vh;
    border: 1px solid white;
    position: auto;
    border-radius: 15px;
    box-shadow: 10px 10px 5px rgb(0,0,0);
}

.cvs2{
    margin-top: 40px;
    height: 100vh;
    border: 1px solid white;
    position: auto;
    border-radius: 15px;
    box-shadow: 10px 10px 5px rgb(0,0,0);
    
}