
*{
    margin: 0px;
    padding: 0px;

}


.menu{
    border: 1px solid white;
}


.navs{
    background-color: black;
    margin-top: 30px;
    display: grid;
    text-align: center;
    grid-template-columns: 15vw 15vw 15vw;
    font-size: large;
    width: max-content;
    width: 45vw;
    height: 45px;
    border: 2px solid white ;
    border-radius: 25px;
    justify-content: center;  
    position: fixed;

}


.navs.fixed{
    grid-template-columns: 6vw 7vw 7vw;
    background-color: rgb(54,54,54);
    border: 0px;
    width: 0px;
    text-align: left;
    position: fixed;
    transition: .3s ease-in-out; 
}




.inicio{
    font-family:sans-serif;
    color: rgb(255,255,255);
    
    
}
.contacto{
    font-family:sans-serif;
    color: rgb(255,255,255);
}
.curriculum{
    font-family:sans-serif;
    color: rgb(255,255,255);
}