
*{
    margin: 0px;
    padding: 0px;

}


.menu{
    border: 1px solid white;
}


.navs{
    background-color: black;
    margin-top: 30px;
    display: grid;
    text-align: center;
    grid-template-columns: 11vw 11vw 11vw 11vw;
    font-size: large;
    width: max-content;
    width: 45vw;
    height: 45px;
    border: 2px solid white ;
    border-radius: 25px;
    justify-content: center;  
    position: fixed;

}


.navs.fixed{
    
    position: relative;
    transition: .3s ease-in-out; 
}




.inicio{
    font-family:sans-serif;
    color: rgb(255,255,255);
    
    
}
.contacto{
    font-family:sans-serif;
    color: rgb(255,255,255);
}
.curriculum{
    font-family:sans-serif;
    color: rgb(255,255,255);
}

.sobreMi{
    font-family:sans-serif;
    color: rgb(255,255,255);
}



@media only screen and (max-width:800px) {

    .navs{
        display: inline-block;
        height: 200px;
        width: 300px;
        margin-right: 100px;
    }
    
}

@media only screen and (max-width:644px) {

    .navs{
        display: inline-block;
        height: 200px;
        width: 250px;
        margin-right: 100px;
    }
    
}


@media only screen and (max-width:570px) {

    .navs{
        display: inline-block;
        height: 200px;
        width: 200px;
        margin-right: 100px;
    }
    
}
@media only screen and (max-width:436px) {

    .navs{
        display: inline-block;
        height: 175px;
        width: 140px;
        margin-right: 100px;
    }
    
}