
.flex_header{
    display: grid;
    height: 60px;
    grid-template-columns: 19vw 79vw;

}

.gg{
    font-weight: bold;
    height: 50px;

    
}

.contenedor{
    width: 50vw;
    margin-left: 31.01vw;
    background-color: rgb(54, 54, 54);
    border-left: 1px solid rgb(54, 54, 54);
}

.mainDivHead{
    height: 50px;
}