*{
    margin: 0px;
    padding: 0px;

}




.navigating {
    background-color: black;
    display: grid;
    text-align: center;
    grid-template-columns: 11vw 11vw 11vw 11vw;
    font-size: large;
    width: max-content;
    width: 45vw;
    height: 45px;
    border: 2px solid white ;
    border-radius: 25px;
    justify-content: center;  

}