
.gridFooter{
    display: grid;
    grid-template-columns: 0vw 0vw;
    justify-content: left;
    
}

.footer{
  height: 400px;
  display: grid;
  padding-left: 500px;
  padding-top: 50px;

}


.footers{

    padding-top: 20px;
    width: 450px;
    border-top: 1px solid rgb(54,54,54);
}

.footers4{
    display: flex;
    padding-top: 20px;
    height: 85px;
    width: 450px;
    border-bottom: 1px solid rgb(54,54,54);
    border-top: 1px solid rgb(54,54,54);
}

.linked{
    color: white;
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 20px;
    text-align: center;
    margin-right: 10px;
}
.links{
    list-style-type: none;
}

.botonTop{
    text-decoration: none;
    margin-top: 50px;
    margin-right: 50px;
    animation: App-logo-spin;
    padding-top: 120px;
    padding-left: 120px;
    width: 70vw;
    text-align: right;
    justify-content: right;
}

.botonVuelta{
    text-decoration: none;
    animation: App-logo-spin;
    animation: App-logo-spin infinite 20s linear;
    color:white;
    background-color: rgb(54,54,54);
    height: 100px;
    width: 100px;
    border-radius: 100px;
    justify-items: right;
    align-items: right;
    border: none;
}

.botonVuelta:hover{
    text-decoration: none;
    color: white;
    border: none;
    animation: none;
    transform: scale(1.2)
}

.botonVuelta:active {
    animation: 4s ease-in-out;
  }


.up{
    color: white;
    text-decoration: none;
    line-height: 10px;
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .li{
    text-decoration: none;
}
.li1{
    text-decoration: none;
    color: black;
}

.li1:hover{
    text-decoration: none;
    color: black;
}

.comentario{
    padding-top: 20px;
    text-align: center;
}