

.footer{
  display: grid;
  height: 500px;
  grid-template-columns: 50vw 50vw;
justify-content: center;
align-items: center;

}
.todasAtenciones{
    margin-left: 400px;
}

.atencion{
    margin-bottom: 20px;
}

.atenciones{
    height: 60px;
    padding-top: 20px;
    width: 450px;
    border-top: 1px solid rgb(54,54,54);
}

.atenciones1{
    display: flex;
    padding-top: 20px;
    height: 85px;
    width: 450px;
    border-bottom: 1px solid rgb(54,54,54);
    border-top: 1px solid rgb(54,54,54);
}

.linked{
    color: white;
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 20px;
    text-align: center;
    margin-right: 10px;
}


.botonTop{
    margin-right: 600px;
    text-decoration: none;
    animation: App-logo-spin;
    text-align: right;
    justify-content: right;
}

.botonVuelta{
    text-decoration: none;
    animation: App-logo-spin;
    animation: App-logo-spin infinite 20s linear;
    color:white;
    background-color: rgb(54,54,54);
    height: 100px;
    width: 100px;
    border-radius: 100px;
    justify-items: right;
    align-items: right;
    border: none;
}

.botonVuelta:hover{
    text-decoration: none;
    color: white;
    border: none;
    animation: none;
    transform: scale(1.2)
}

.botonVuelta:active {
    animation: 4s ease-in-out;
  }


.up{
    color: white;
    text-decoration: none;
    line-height: 10px;
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.li1{
    text-decoration: none;
    color: black;
}

.li1:hover{
    text-decoration: none;
    color: black;
}

.comentario{
    padding-top: 20px;
    text-align: center;
}