


.footer{
display: grid;
height: 500px;
grid-template-columns: 50vw 50vw;
justify-content: center;
align-items: center;

}
.todasAtenciones{
    margin-left: 300px;
}

.atencion{
    margin-bottom: 20px;
}

.atenciones{
    height: 60px;
    padding-top: 20px;
    width: 450px;
    border-top: 1px solid rgb(54,54,54);
}

.atenciones1{
    display: flex;
    padding-top: 20px;
    height: 85px;
    width: 450px;
    border-bottom: 1px solid rgb(54,54,54);
    border-top: 1px solid rgb(54,54,54);
}

.linked{
    color: white;
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 20px;
    text-align: center;
    margin-right: 10px;
}


.botonTop{
    margin-right: 600px;
    text-decoration: none;
    animation: App-logo-spin;
    text-align: right;
    justify-content: right;
}

.botonVuelta{
    text-decoration: none;
    animation: App-logo-spin;
    animation: App-logo-spin infinite 20s linear;
    color:white;
    background-color: rgb(54,54,54);
    height: 100px;
    width: 100px;
    border-radius: 100px;
    justify-items: right;
    align-items: right;
    border: none;
}

.botonVuelta:hover{
    text-decoration: none;
    color: white;
    border: none;
    animation: none;
    transform: scale(1.2)
}

.botonVuelta:active {
    animation: 4s ease-in-out;
  }


.up{
    color: white;
    text-decoration: none;
    line-height: 10px;
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.li1{
    text-decoration: none;
    color: black;
}

.li1:hover{
    text-decoration: none;
    color: black;
}

.comentario{
    padding-top: 20px;
    text-align: center;

}

@media only screen and (max-width:1610px){
    .botonVuelta{
        margin-left: 200px;

    }
    .atencion{

        width: 500px;
        
     
    }
}


@media only screen and (max-width:1190px){
    .footer{
        display: block;
        margin-top: 40px;
        justify-content: center;
    }
    .atencion{
       
        font-size: 25px;
        width: 400px;
     
    }
    .atenciones{
        font-size: 20px;
        
    }
    .atenciones1{
        font-size: 20px;
    }

    .botonTop{
        padding-left: 250px;
        padding-top: 40px;
            
    }
}

@media only screen and (max-width:1024px){
    .footer{
        width: 100vw;
          
    }
}

@media only screen and (max-width:780px){
    .todasAtenciones{
        margin-left: 150px;
    }

    .botonTop{
       padding-left: 20%;
    }
}

@media only screen and (max-width:644px){
    .todasAtenciones{
        margin-left: 90px;
    }

    .botonTop{
       padding-left: 10px;
    }
}


@media only screen and (max-width:580px){
 
    .todasAtenciones{
        margin-left: 120px;
    
    }
    .atenciones{
        width: 300px;
    }
    .atenciones1{
        width: 300px;
    }

    .botonTop{
       padding-left: 0%;
       width: 100px;
    }
}

@media only screen and (max-width:520px){
 

    .atencion{
        width: 300px;

    }
    .botonTop{
        padding-left: 0%;
       
     }
}


@media only screen and (max-width:420px){
 


    .todasAtenciones{
        margin-left:  20%;
    }
    .atenciones{
        font-size: 15px;
        width: 200px;
    }
    .atenciones1{
        width: 200px;
        font-size: 15px;

    }
    .linked{
        font-size: 20px;
        height: 30px;
        width: 30px;
    }

    .botonVuelta{
       margin-left: 100%;
    }

    .atencion{
        width: 150px;
        font-size: 20px;
    }
}