.todoSobreMi{
    display: flex;
    text-align: center;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    height: 70px;
    margin-right: 190px;
    background-color: rgb(0,0,0);
    
}

.contenedorHobbies{
    
    display: grid;
    grid-template-columns: 20vw  ;
    background-color: rgb(54,54,54);
    height: 100vh;
    width: 100vw;
    padding-left: 10%;
    padding-top: 4%;
    padding-bottom: 20px;
    border-bottom: 3px solid white;
    border-top: 1px solid white;
   
}
.flecha{
    padding-left: 50px;
    padding-top: 20px;
}
.botones{
    display: flex;
}



.trabajoActual{
    border-radius: 100px;
    background-color: rgb(141, 48, 48);
    height: 100px;
    width: 100px;
}
.hobbie{
    border-radius: 100px;
    background-color: rgb(225, 228, 34);
    height: 100px;
    width: 100px;
}
.pocoDeMi{
    background-color: rgb(24, 196, 78);
    border-radius: 100px;
    height: 100px;
    width: 100px;
}

.textoSobreMi{
    font-weight: bold;
}