

.mainDivForm{
    display: flex;
    margin-bottom: 20px;
    width: 100vw;
    height: 120vh;
    background-color: rgb(54,54,54);
    justify-content: center;
    align-content: center;
    color: rgb(255, 255, 255);
}


input{
    height: 100%;
        font-weight: bold;
        line-height: 10px;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        border-color: rgb(255, 255, 255);
        box-sizing: border-box;
        border-radius: 8px;
        border-style: ridge;
    
}
label{
    font-family: sans-serif;
}

.forms{
    display: flex;
    flex-direction: column;
    border-radius: 100px;
    margin-top: 30px;
    background-color: rgb(0,0,0);
    height: 800px;
    width: 600px;
    align-items:center;
    justify-content: center;
    border-style: ridge;
    border-collapse: collapse;


}


#formulario{
    border-radius: 100px;
}


.mensaje{
    height: 100px;
    margin-bottom: 40px;

}

#enviar{
    font-weight: bold;
    width: 250px;
    height: 40px;
    margin-left: 25%;
}
.campo{
    font-weight: 200;

}


@media only screen and (max-width:1280px){
    .forms{
        height: 90%;
    }
}

@media only screen and (max-width:1024px){
    .forms{
        height: 90%;
    }

    .label{
        height: 60%;

    }

    .inputs1{
        height: 10px;
    }
    .mensaje{
        height: 90px;
    }
}


@media only screen and (max-width:630px){
    .forms{
        height: 80%;
        width: 95%;
    }

    .label{
        height: 60%;

    }

    .inputs1{
        height: 10px;
        width: 100%;
    }
    .mensaje{
        height: 90px;
    }
}


@media only screen and (max-width:630px){
    .forms{
        height: 80%;
        width: 95%;
    }

    .label{
        height: 60%;

    }

    .inputs1{
        height: 10px;
        width: 95%;
    }
.mensaje{
     width: 95%;
     padding-left: 30%;
}
#enviar{
    margin-left: 20%;
}
   
}

@media only screen and (max-width:490px){
    .forms{
        height: 80%;
        width: 95%;
    }

    .label{
        height: 60%;
        margin-left: 5%;

    }

    .campo{
        margin-left: 5%;
    }

    .inputs1{
        height: 10px;
        width: 92%;
        margin-left: 5%;
    }
.mensaje{
     width: 92%;
     margin-left: 5%;
}
#enviar{
    margin-left: 20%;
}
   
}

@media only screen and (max-width:400px){
    .forms{
        height: 90%;
        width: 95%;
    }

    

    .label{
        height: 60%;
        margin-left: 10%;

    }

    .campo{
        margin-left: 10%;
    }

    .inputs1{
        height: 10px;
        width: 80%;
        margin-left: 10%;
    }
.mensaje{
     width: 80%;
     margin-left: 10%;
}
#enviar{
    margin-left: 10%;
}
   
}


@media only screen and (max-width:360){
    #enviar{
        width: 100px;
    }
}

h4{
    background-color: rgb(54,54,54);
    color: black;
}

.listaDeUsuariosDiv{
    background-color: rgb(54,54,54);
}